# No ignorar los apuntes en formato ".org" pero si el resto de archivos
apuntes/*
!apuntes/*.org

# No ignorar las hojas en formato ".org" pero si el resto de archivos
hojas-de-problemas/*
!hojas-de-problemas/hoja-*
hojas-de-problemas/hoja-*/*
!hojas-de-problemas/hoja-*/*.org

#Ignorar binarios de las hojas de problemas
hojas-de-problemas/*/target/*