# No ignorar los apuntes en formato ".org" pero si el resto de archivos
apuntes/*
!apuntes/*.org

# No ignorar las hojas en formato ".org" pero si el resto de archivos
hojas-de-problemas/*
!hojas-de-problemas/hoja-*
hojas-de-problemas/hoja-*/*
!hojas-de-problemas/hoja-*/*.org

#No ignorar examenes de practica en formato ".org"
examenes-de-practica/*
!examenes-de-practica/*.org

#Ignorar binarios y ".tar.gz" de las practicas de programacion
practicas-de-programacion/*/target/*
practicas-de-programacion/*.tar.gz